html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.titleBarDraggable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  cursor: move;
  -webkit-app-region: drag;
}
